:root {
    --CSS-box-model: .5vh;
    /* Not Working */
    --body-box: calc(100vh - (--CSS-box-model * 3));
    --html-box: calc(100vh - (--CSS-box-model * 3));
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff;
}

* {
    margin: var(--CSS-box-model);
    border: red solid var(--CSS-box-model);
    padding: var(--CSS-box-model);
    background-color: aqua;
}

html {
    border: gold solid var(--CSS-box-model);
    background-color: blueviolet;
    height: 97vh;
}

body {
    border: green solid var(--CSS-box-model);
    background-color: gold;
    height: 94vh;
}

h1 {
    border: yellowgreen solid var(--CSS-box-model);
}

div {
    border: yellowgreen solid var(--CSS-box-model);
    text-align: center;
    align-items: center;

}