:root {
    --CSS-box-model: .5vh;
    --body-box: calc(100vh - (--CSS-box-model * 3));
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff;
    
}

* {
    margin: var(--CSS-box-model);
    border: red solid var(--CSS-box-model);
    padding: var(--CSS-box-model);
    background-color: aqua;
}

html {
    border: blue solid var(--CSS-box-model);
    background-color: blueviolet;
}

body {
    border: green solid var(--CSS-box-model);
    background-color: gold;
    height: var(--body-box);
}

h1 {
    border: yellowgreen solid var(--CSS-box-model);
}